[submodule "ARP-frontend"]
	path = ARP-frontend
	url = https://github.com/AchielTyberghien/ARP-racing-frontend.git
[submodule "ARP-backend"]
	path = ARP-backend
	url = https://github.com/AchielTyberghien/ARP-racing-backend.git
